*.cpp linguist-detectable=true  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.xml linguist-detectable=false  
*.mk linguist-detectable=false  
*.txt linguist-detectable=false  



# Ignore Makefiles
Makefile linguist-language=ignore  
makefile linguist-language=ignore  
*.make linguist-language=ignore  

# Ignore CMake files
CMakeLists.txt linguist-language=ignore  
*.cmake linguist-language=ignore
