*.cpp linguist-detectable=true  
*.Makefile linguist-detectable=false  
*.Make linguist-detectable=false  
*.js linguist-detectable=false  
*.html linguist-detectable=false  
*.xml linguist-detectable=false 
