Makefile linguist-language=ignore
makefile linguist-language=ignore 
*.make linguist-detectable=false
CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
*.cpp linguist-detectable=true  
